.header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}


body {
    background-color: #2f2fa2;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: center;
    font-weight: normal;
}

.overview {
    font-weight: bolder;
}

.terms {
    font-weight: bolder;
}

.autocomplete {
    text-align: center;
}
.info-container {
    text-align: center;
}

::placeholder {
    opacity: 0.5;
    color: #ffffff;
}

input[type=text] { 
    background-color: #143d59; 
    font-size: 20px;
    color: #ffffff;
    width: 15%;
}

.search{
    text-align: center;
}




input[type=submit] {
    background-color: DodgerBlue;
    color:white;
    cursor: pointer;
    opacity: 90%;
    padding: 2px solid transparent;
    width: 10%;
    height: 40px;
    margin-left: 45%;
}

input[type=submit]:hover {
    opacity: 100%;
    transition: 0.2s;
}
.suggestions {
    width: 15%;
    height: 100px;
    overflow-y: auto;
    scroll-behavior: auto;
    margin: auto;
}
.suggestions > div {
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
    background-color: #2e2e2e;
    width: 85%;
    border: 1px #1e4dd4 solid;
}

.suggestions > div:hover {
    background-color: #1e4dd4;
    transition: 0.2s;
    cursor: pointer;
}